* {

}

body {
	background-image: 1.png;
}

.banner {
	width: 940px;
	height: 2000px;
	text-decoration: none;

}

.banner ul li{
	float: left;
	list-style-type: none;
}

.banner ul li a{
	padding: 0 10px;
	text-decoration: none;
	line-height: 65px;
	display: block;
	height:65px ;


}

.banner ul li a:hover{
	background-color: #eee;
	color: red;
}